<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<h1>
    show
</h1>
video
{#<img src="http://114.115.222.222/static/imgs/IMG_0464.JPG/" alt="">#}
{#<video src="../../static/videos/boximiya.MP4" controls></video>#}
{#<video src="https://coastlines.oss-cn-beijing.aliyuncs.com/benxiaohai.mp4" controls></video>#}
<video src="../../static/videos/benxiaohai.mp4" controls></video>
{#<video src="http://star.v5.idcfengye.com/static/videos/BohemianRhapsody.MP4" controls></video>#}
</body>
</html>