<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script></script>
    <script src="/static/js/jquery-3.4.1.js"></script>

</head>
<body>
    <video id="media" src="" width="640" height="480" controls autoplay>您的浏览器不支持 video 标签 </video>
    <br />
    <button>/static/videos/333.mp4</button>
    <button>/static/videos/test1_2.mp4</button>
    <button>/static/videos/DestFile.mp4</button>
    <button>/static/videos/mkv_video.mkv</button>
    <button>/static/videos/test_yys.mp4</button>
    <button>/static/videos/sudu.mp4</button>
</body>
<script>
    $(function () {
        $('button').click(function () {
            let test = $(this).text();
            // 给后端发送的视频路径，一定要看清楚这个路由。
            $("#media").attr('src', '/test_resp/?path='+test);
        });
     })
</script>
</html>
